{#
This file is part of Alterplan. 
 
Alterplan is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. 
 
Alterplan is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details. 
 
You should have received a copy of the GNU Affero General Public License along with Alterplan. If not, see <http://www.gnu.org/licenses/>.
#}

<div class="card">
    <div class="row">
        <h5 class="">Stagiaire</h5>
    </div>
    <div class="row stagiaireInformation">
        <div class="col s4">
            <div class="col s12">
                <h5>{{ stagiaireParEntreprise.stagiaire.nom }} {{ stagiaireParEntreprise.stagiaire.prenom }}</h5>
            </div>
            <div class="col s12">
                {{ stagiaireParEntreprise.stagiaire.adresse1 }}
            </div>
            <div class="col s2">
                {{ stagiaireParEntreprise.stagiaire.codePostal }}
            </div>
            <div class="col s10">
                {{ stagiaireParEntreprise.stagiaire.ville }}
            </div>
            <div class="col s12">
                {{ stagiaireParEntreprise.stagiaire.telephoneFixe }}
            </div>
            <div class="col s12">
                {{ stagiaireParEntreprise.stagiaire.email }}
            </div>
        </div>
        <div class="col s4">
            {% if ( calendarRegistered != null ) %}
                <div class="col s12">
                    <h5>{{ calendarRegistered.formation.codeTitre }}</h5>
                </div>
                <div class="col s12">
                    Du {{ calendarRegistered.dateDebut.format('d/m/Y') }}
                </div>
                <div class="col s12">
                    Au {{ calendarRegistered.dateFin.format('d/m/Y') }}
                </div>
            {% else %}
                <div class="col s12">
                    <h5>Formation</h5>
                </div>
                <div class="col s12">
                    Du
                </div>
                <div class="col s12">
                    Au
                </div>
            {% endif %}

        </div>
        <div class="col s4">
            <div class="col s12">
                <h5>{{ stagiaireParEntreprise.entreprise.raisonsociale }} </h5>
            </div>
            <div class="col s12">
                {{ stagiaireParEntreprise.entreprise.adresse1 }}
            </div>
            <div class="col s2">
                {{ stagiaireParEntreprise.entreprise.ville }}
            </div>
            <div class="col s10">
                {{ stagiaireParEntreprise.entreprise.codePostal }}
            </div>
            <div class="col s12">
                {{ stagiaireParEntreprise.entreprise.telephone }}
            </div>
            <div class="col s12">
                {{ stagiaireParEntreprise.entreprise.email }}
            </div>
        </div>
    </div>
</div>