{#
This file is part of Alterplan. 
 
Alterplan is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. 
 
Alterplan is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details. 
 
You should have received a copy of the GNU Affero General Public License along with Alterplan. If not, see <http://www.gnu.org/licenses/>.
#}

<div class="card col s4" style="height: 19em;">
    <div class="card-content">
        <span class="card-title">Stagiaire: {{ stagiaireParEntreprise.stagiaire.nom }} {{ stagiaireParEntreprise.stagiaire.prenom }}</span>
        <div class="row">
            <span> Adresse : {{ stagiaireParEntreprise.stagiaire.adresse1 }}</span>
        </div>
        <div class="row">
            <span>  Code Postal : {{ stagiaireParEntreprise.stagiaire.codePostal }} </span>
        </div>
        <div class="row">
            <span> Ville : {{ stagiaireParEntreprise.stagiaire.ville }}</span>
        </div>
        <div class="row">
            <span> Téléphone : {{ stagiaireParEntreprise.stagiaire.telephoneFixe }}</span>
        </div>
        <div class="row">
            <span> Email : {{ stagiaireParEntreprise.stagiaire.email }}</span>
        </div>
    </div>
</div>
<div class="card col s4" style="height: 19em;">
    <div class="card-content" style="height: 100%">
        <span class="card-title">Formation  {% if calendarRegistered %}: {{ calendarRegistered.formation.codeTitre }} {% endif %} </span>
        {% if ( calendarRegistered != null ) %}
            <div class="valign-wrapper" style="height: 75%">
                <div class="row">
                <span> Du:
                    <span class="flow-text">
                        {% if calendarRegistered.dateDebut %}
                            {{ calendarRegistered.dateDebut.format('d/m/Y') }}
                        {% endif %}
                    </span>
                </span>
                    <span> Au:
                    <span class="flow-text">
                        {% if calendarRegistered.dateFin %}
                            {{ calendarRegistered.dateFin.format('d/m/Y') }}
                        {% endif %}
                    </span>
                </span>
                </div>
            </div>
        {% endif %}
    </div>
</div>
<div class="card col s4" style="height: 19em;">
    <div class="card-content">
        <span class="card-title">Entreprise: {{ stagiaireParEntreprise.entreprise.raisonsociale }} </span>
        <div class="row">
            <span> Adresse : {{ stagiaireParEntreprise.entreprise.adresse1 }} </span>
        </div>
        <div class="row">
            <span> Ville : {{ stagiaireParEntreprise.entreprise.ville }} </span>
        </div>
        <div class="row">
            <span> Code postal : {{ stagiaireParEntreprise.entreprise.codePostal }} </span>
        </div>
        <div class="row">
            <span> Téléphone : {{ stagiaireParEntreprise.entreprise.telephone }} </span>
        </div>
        <div class="row">
            <span> Email : {{ stagiaireParEntreprise.entreprise.email }} </span>
        </div>
    </div>
</div>