{% extends 'base.html.twig' %}

{% block body %}
    <h1>Stagiaire</h1>

    <table>
        <tbody>
            <tr>
                <th>Codestagiaire</th>
                <td>{{ stagiaire.codeStagiaire }}</td>
            </tr>
            <tr>
                <th>Civilite</th>
                <td>{{ stagiaire.civilite }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ stagiaire.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ stagiaire.prenom }}</td>
            </tr>
            <tr>
                <th>Adresse1</th>
                <td>{{ stagiaire.adresse1 }}</td>
            </tr>
            <tr>
                <th>Adresse2</th>
                <td>{{ stagiaire.adresse2 }}</td>
            </tr>
            <tr>
                <th>Adresse3</th>
                <td>{{ stagiaire.adresse3 }}</td>
            </tr>
            <tr>
                <th>Codepostal</th>
                <td>{{ stagiaire.codePostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ stagiaire.ville }}</td>
            </tr>
            <tr>
                <th>Telephonefixe</th>
                <td>{{ stagiaire.telephoneFixe }}</td>
            </tr>
            <tr>
                <th>Telephoneportable</th>
                <td>{{ stagiaire.telephonePortable }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ stagiaire.email }}</td>
            </tr>
            <tr>
                <th>Datenaissance</th>
                <td>{% if stagiaire.dateNaissance %}{{ stagiaire.dateNaissance|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Coderegion</th>
                <td>{{ stagiaire.codeRegion }}</td>
            </tr>
            <tr>
                <th>Codenationalite</th>
                <td>{{ stagiaire.codeNationalite }}</td>
            </tr>
            <tr>
                <th>Codeoriginemedia</th>
                <td>{{ stagiaire.codeOrigineMedia }}</td>
            </tr>
            <tr>
                <th>Datedernierenvoidoc</th>
                <td>{% if stagiaire.dateDernierEnvoiDoc %}{{ stagiaire.dateDernierEnvoiDoc|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{% if stagiaire.dateCreation %}{{ stagiaire.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Repertoire</th>
                <td>{{ stagiaire.repertoire }}</td>
            </tr>
            <tr>
                <th>Permis</th>
                <td>{% if stagiaire.permis %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ stagiaire.photo }}</td>
            </tr>
            <tr>
                <th>Envoidocencours</th>
                <td>{% if stagiaire.envoiDocEnCours %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Historique</th>
                <td>{{ stagiaire.historique }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('stagiaires_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
