{#
This file is part of Alterplan. 
 
Alterplan is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. 
 
Alterplan is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details. 
 
You should have received a copy of the GNU Affero General Public License along with Alterplan. If not, see <http://www.gnu.org/licenses/>.
#}

<div class="card">
    <div class="row calendrierInscrit">
        <div class="col s6">
            <h5> Calendrier Inscrit </h5>
        </div>
        <div class="col s12">
            {% if ( calendarRegistered != null ) %}
                <div class="row ligneInscrit">
                    <div class="col s3">
                        {{ calendarRegistered.titre }}
                    </div>
                    <div class="col s3">
                        {{ calendarRegistered.formation.codeFormation }}
                    </div>
                    <div class="col s3">
                        {{ calendarRegistered.dateDebut.format('d/m/Y') }}
                    </div>
                    <div class="col s3">
                        {{ calendarRegistered.dateFin.format('d/m/Y') }}
                    </div>
                </div>
            {% else %}
                {#Message informatif (Aucune donnée)#}
                Aucun calendrier inscrit
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col s6">
            <h5>Liste des calendriers ({{ calendars|length }})</h5>
        </div>
        <div class="col s2 offset-s4">
            <a class='dropdown-button modal-action waves-effect waves-green btn' href='#' data-activates='creerDopDown'>Créer</a>

            {#Dropdown Créer un nouveau calendrier#}
            <ul id='creerDopDown' class='dropdown-content'>
                <li><a href="#!">Nouveau</a></li>
                <li><a href="#!">Dupliquer</a></li>
                <li><a href="#!">Appliquer un thème</a></li>
            </ul>
        </div>
    </div>

    <table  id="calendar_table">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Formation</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Suppression</th>
        </tr>
        </thead>
        <tbody>
        {% if ( calendars != null ) %}
            {% for calendar in calendars %}
            <tr>
                <td>
                    {{ calendar.titre }}
                </td>

                <td>
                    {{ calendar.formation.codeFormation }}
                </td>

                <td>
                    {{ calendar.dateDebut.format('d/m/Y') }}
                </td>

                <td>
                    {{ calendar.dateFin.format('d/m/Y') }}
                </td>

                <td>
                    <a href="#">
                        <i class="material-icons deleteIcon" data-href="{{ path('calendar_delete', {'codeCalendrier': calendar.codeCalendrier, "numLien": stagiaireParEntreprise.numLien})}}">delete</i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        {% else %}
            <tr>
                <td>
                    Aucun calendrier pour ce stagiaire
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>


<script type="text/javascript">

    $(document).ready(function() {
        $('.deleteIcon').click(function () {
            var url = $(this).data("href");
            deleteCalendar(url);
        })
    });

    function deleteCalendar(urlAction) {
        showLoader();
        $.ajax({
            url: urlAction,
            type: 'DELETE',
            success: function (data) {
                dismissLoader();
                showToast('Le calendrier a bien été supprimé');
                var calendarTableDiv = $('#calendar_table');
                calendarTableDiv.empty();
                calendarTableDiv.html(data);

            },
            error: function () {
                dismissLoader();
                showToast('Erreur de la suppression', 'error');
            }
        });
    }
</script>