{#
This file is part of Alterplan. 
 
Alterplan is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. 
 
Alterplan is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details. 
 
You should have received a copy of the GNU Affero General Public License along with Alterplan. If not, see <http://www.gnu.org/licenses/>.
#}

<div class="row">
    <div class="col s6">
        <h5>Liste des stagiaires </h5>
    </div>
</div>

<table class="tableauCliquable centered highlight">
    <thead>
    <tr>
        <th>Stagiaire</th>
        <th>Email</th>
        <th>Entreprise</th>
        <th>Calendriers</th>
    </tr>
    </thead>
    <tbody>
    {% for stagiaireEntreprise in stagiairesEntreprise %}
        <tr class="clickable-row-stagiaire" data-href="{{ path('stagiaires_show', { 'numLien': stagiaireEntreprise.numLien }) }}">

            <td>
                {{ stagiaireEntreprise.stagiaire.nom }} {{ stagiaireEntreprise.stagiaire.prenom }}
            </td>
            <td>
                {{ stagiaireEntreprise.stagiaire.email }}
            </td>
            <td>
                {{ stagiaireEntreprise.entreprise.raisonsociale }}
            </td>
            <td>
                {{ stagiaireEntreprise.stagiaire.calendrier|length }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>


<script type="text/javascript">

    $(document).ready(function() {

        $('.clickable-row-stagiaire').click(function() {
            var urlStagiaire = $(this).closest('tr').data("href");
            window.location = urlStagiaire;
        });
    });
</script>