{#
This file is part of Alterplan. 
 
Alterplan is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. 
 
Alterplan is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details. 
 
You should have received a copy of the GNU Affero General Public License along with Alterplan. If not, see <http://www.gnu.org/licenses/>.
#}
<div class="card bloc_calendrier">
    <div class="row calendrierInscrit">
        <div class="col s6">
            <h5> Calendrier Inscrit </h5>
        </div>
        <div class="col s12">
            {% if ( calendarRegistered != null ) %}
                <a href="{{ path('calendrier_edit', { 'codeCalendrier': calendarRegistered.codeCalendrier }) }}">
                    <div class="row ligneInscrit">
                        <div class="col s3">
                            {{ calendarRegistered.titre }}
                        </div>
                        <div class="col s3">
                            {{ calendarRegistered.formation.codeFormation }}
                        </div>
                        <div class="col s3">
                            {% if calendarRegistered.dateDebut %}
                                {{ calendarRegistered.dateDebut.format('d/m/Y') }}
                            {% endif %}
                        </div>
                        <div class="col s3">
                            {% if calendarRegistered.dateFin %}
                                {{ calendarRegistered.dateFin.format('d/m/Y') }}
                            {% endif %}
                        </div>
                    </div>
                </a>
            {% else %}
                {#Message informatif (Aucune donnée)#}
                Aucun calendrier inscrit
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <h5>Liste des calendriers ({{ calendars|length }})</h5>
        </div>
        <div class="col s2 offset-s4">
            <a class='dropdown-button modal-action waves-effect waves-green btn' href='#' data-activates='creerDopDown'>Créer</a>

            {#Dropdown Créer un nouveau calendrier#}
            <ul id='creerDopDown' class='dropdown-content'>
                <li><a id="btn_new">Nouveau</a></li>
                <li><a id="btn_duplicate">Dupliquer</a></li>
                <li><a id="btn_apply_model">Appliquer un thème</a></li>
            </ul>
        </div>
    </div>

    <table  id="calendar_table" class="centered highlight">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Formation</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Suppression</th>
        </tr>
        </thead>
        <tbody>
        {% if ( calendars != null ) %}
            {% for calendar in calendars %}
                    <tr class="clickable clickable-row-calendar" data-href="{{ path('calendrier_edit', { 'codeCalendrier': calendar.codeCalendrier }) }}">
                        <td>
                            {{ calendar.titre }}
                        </td>

                        <td>
                            {{ calendar.formation.libelleCourt }}
                        </td>

                        <td>
                            {{ calendar.dateDebut.format('d/m/Y') }}
                        </td>

                        <td>
                            {{ calendar.dateFin.format('d/m/Y') }}
                        </td>

                        <td>
                            <a href="#">
                                <i class="material-icons deleteIcon" data-href="{{ path('calendar_delete', {'codeCalendrier': calendar.codeCalendrier, "numLien": stagiaireParEntreprise.numLien})}}">delete</i>
                            </a>
                        </td>
                    </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>
                    Aucun calendrier pour ce stagiaire
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>


<script type="text/javascript">

    $(document).ready(function() {

        $('.clickable-row-calendar td:not(:last-child)').click(function() {
            //Récupération de la ligne contenant l'url cible
            var urlCalendrier = $(this).closest('tr').data("href");
            window.location = urlCalendrier;
        });

        $('.deleteIcon').click(function () {
            var url = $(this).data("href");
            deleteCalendar(url);
        });

        $('#btn_new').click(function () {
            var url = "{{ path('calendrier_new', { 'codeStagiaire' : stagiaireParEntreprise.stagiaire.codeStagiaire}) }}";
            renderModal('calendrier',url,false);
        });

        var urlDuplicate = "{{ path('calendrier_search', {'nameModal' : 'duplicate', 'codeStagiaire': stagiaireParEntreprise.stagiaire.codeStagiaire}) }}";
        $('#btn_duplicate').click(function () {
            renderModal('modal_search_calendar_to_duplicate',urlDuplicate, false);
        })

        var urlApplyModel = "{{ path('calendrier_search', {'nameModal' : 'applyModel', 'codeStagiaire': stagiaireParEntreprise.stagiaire.codeStagiaire }) }}";
        $('#btn_apply_model').click(function () {
            renderModal('modal_search_calendar_to_apply_model',urlApplyModel, false);
        })
    });

    function deleteCalendar(urlAction) {
        showLoader();
        $.ajax({
            url: urlAction,
            type: 'DELETE',
            success: function (data) {
                dismissLoader();
                showToast('Le calendrier a bien été supprimé');
                var calendarTableDiv = $('.bloc_calendrier');
                calendarTableDiv.empty();
                calendarTableDiv.html(data);

            },
            error: function () {
                dismissLoader();
                showToast('Erreur de la suppression', 'error');
            }
        });
    }


</script>