{#
This file is part of Alterplan. 
 
Alterplan is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. 
 
Alterplan is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details. 
 
You should have received a copy of the GNU Affero General Public License along with Alterplan. If not, see <http://www.gnu.org/licenses/>.
#}

{{ form_start(formSearch) }}
<div class="row">
    <div class="col s6">
        <div class="row valign-wrapper">
            <i class="material-icons col s1">person</i>
            {{ form_widget(formSearch.libelleCourt, {'attr':{'placeholder':'Titre'}}) }}
        </div>
    </div>
    <div class="col s6">
        <div class="row valign-wrapper">
            <i class="material-icons col s1">person</i>
            {{ form_widget(formSearch.codeFormation, {'attr':{'placeholder':'Code'}}) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col s6">
        <div class="row valign-wrapper">
            <i class="material-icons col s1">person</i>
            {{ form_widget(formSearch.lieu, {'attr':{'placeholder':'Lieu'}}) }}
        </div>
    </div>
</div>
{{ form_end(formSearch) }}