{#
This file is part of Alterplan. 
 
Alterplan is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. 
 
Alterplan is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details. 
 
You should have received a copy of the GNU Affero General Public License along with Alterplan. If not, see <http://www.gnu.org/licenses/>.
#}

{# Les tableau des formations avec sa barre d'action #}
<div class="row">
    <div class="col s6">
        <h5>Liste des formations ({{ formations|length }}) </h5>
    </div>
</div>

<table class="bordered highlight centered">
    <thead>
    <tr>
        <th class="col s3">Titre</th>
        <th class="col s3">Code</th>
        <th class="col s3">Lieu</th>
        <th class="col s3">Durée en semaines</th>
    </tr>
    </thead>
    <tbody>
    {% for formation in formations %}
        <tr class="clickable" data-href="{{ path('formations_edit', { 'codeFormation': formation.codeFormation }) }}">
            <td class="col s3" style="padding:15px 5px">{{ formation.libelleCourt }}</td>
            <td class="col s3" style="padding:15px 5px">{{ formation.codeFormation }}</td>
            <td class="col s3" style="padding:15px 5px">{{ formation.Lieu ? formation.lieu.libelle }}</td>
            <td class="col s3" style="padding:15px 5px">{{ formation.dureeEnSemaines }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{# les actions spécifiques aux utilisateurs #}
<script type="text/javascript">
    $(document).ready(function() {
        //abonnement au click de la ligne (toute la ligne sauf la dernière colonne)
        $('.clickable').click(function() {
            window.location.href = $(this).closest('tr').data("href");
        });
    });
</script>
