{#
This file is part of Alterplan. 
 
Alterplan is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. 
 
Alterplan is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details. 
 
You should have received a copy of the GNU Affero General Public License along with Alterplan. If not, see <http://www.gnu.org/licenses/>.
#}
{% extends 'navigableBase.html.twig' %}

{% block title %} Calendrier {% endblock %}

{% block customCSS %}
    <link rel="stylesheet" href="{{ asset('css/calendrier.css') }}"/>
{% endblock %}

{% block body %}
    <div class="row center blue lighten-1">
        <div class="col s6 offset-s3">
            <div class="hoverable">
                <span class="center-align flow-text white-text">{{ calendrier.titre }}</span>
            </div>
            <input class="clickedit white" type="text" style="margin: 7px 0 7px 0"/>
        </div>
    </div>
    <div class="row">
        <div class="col s3">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">
                        <span class="flow-text">Modules</span>
                        <div class="fixed-action-btn horizontal right"
                             style="position: relative;display: inline-block;z-index: 1;top: -0.9em;right: -0.6em;">
                            <a class="btn-floating btn-large teal lighten-2 tooltipped"
                               data-position="top"
                               data-delay="50"
                               data-tooltip="Modifier la liste des modules">
                                <i class="large material-icons" style="line-height: 56px;">mode_edit</i>
                            </a>
                            <ul>
                                <li>
                                    <a id="modules_search"
                                       class="btn-floating waves-effect waves-light light-blue lighten-2 tooltipped"
                                       data-position="top"
                                       data-delay="50"
                                       data-tooltip="Rechercher parmis des modules d'une autre formation">
                                        <i class="material-icons" style="line-height: 41px;">search</i>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn-floating waves-effect waves-light light-blue lighten-2 tooltipped"
                                       data-position="top"
                                       data-delay="50"
                                       data-tooltip="Ajouter un module indépendant">
                                        <i class="material-icons" style="line-height: 41px;">add_circle_outline</i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="modules-planifiables-container" class="row">
                        {# le contenu est ajouté dans refreshModules(modules) du calendrier.js#}
                    </div>
                </div>
            </div>
        </div>
        <div class="col s9">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Calendrier</span>
                    <div class="row center">
                        <div class="col s3 offset-s4">
                            <span class="flow-text">Volume : {{ calendrier.dureeEnHeures }} H</span>
                        </div>
                    </div>
                    <div id="calendar" class="row">
                        <div id="calandar-hearder" class="row bordered">
                            <div class="indicateur">

                            </div>
                            <div class="col s11">
                                <div class="col s3 center">
                                    <span class="flow-text blue-text text-darken-2">Date</span>
                                </div>
                                <div class="col s2 center">
                                    <span class="flow-text blue-text text-darken-2">Lieu</span>
                                </div>
                                <div class="col s6 center">
                                    <span class="flow-text blue-text text-darken-2">Programme</span>
                                </div>
                            </div>
                        </div>
                        <div id="calnendar-body" class="row">
                            <div class="indicateur amber lighten-4">
                                <span class="hide">X</span>
                            </div>
                            <div class="cours col s11 center">
                                <div class="col s3 dates">
                                    <span>Début - fin</span>
                                </div>
                                <div class="col s2 lieu">
                                    <span>Quelque part</span>
                                </div>
                                <div class="col s6">
                                    <span>Quelque chose</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large teal lighten-2">
            <i class="large material-icons">menu</i>
        </a>
        <ul>
            <li>
                <a id="editContraintes"
                   class="btn-floating red tooltipped"
                   data-position="left"
                   data-delay="50"
                   data-tooltip="Gérer les contraintes">
                    <i class="material-icons">security</i>
                </a>
            </li>
            <li>
                <a class="btn-floating yellow darken-1 tooltipped"
                   data-position="left"
                   data-delay="50"
                   data-tooltip="Inscrire">
                    <i class="material-icons">check_circle</i>
                </a>
            </li>
            <li>
                <a class="btn-floating green tooltipped"
                   data-position="left"
                   data-delay="50"
                   data-tooltip="Enregistrer les modifications">
                    <i class="material-icons">save</i>
                </a>
            </li>
            <li>
                <a class="btn-floating blue tooltipped"
                   data-position="left"
                   data-delay="50"
                   data-tooltip="Exporter">
                    <i class="material-icons">file_download</i>
                </a>
            </li>
            <li>
                <a class="btn-floating blue tooltipped"
                   data-position="left"
                   data-delay="50"
                   data-tooltip="Comparer">
                    <i class="material-icons">view_stream</i>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block modal %}
    {{ parent() }}
    {% embed ':composants:modale.html.twig' with {'id' : 'gestion-modules',
    'customClass' : 'modules-modale'} %}
        {% block modal_action_buttons %}
            <button type="button" onclick="closeModale()"
                    class="modal-action waves-effect waves-green btn left red lighten-3">Annuler
            </button>
            <button type="button" onclick="valider()"
                    class="modal-action waves-effect waves-green btn">Valider
            </button>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block customJS %}
    <script type="text/javascript" src="{{ asset('js/module.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/calendrier.js') }}"></script>
    <script type="text/javascript">

        var jFormation = {
            'CodeFormation': '{{ calendrier.formation.codeFormation }}',
            'Libelle': '{{ calendrier.formation.libelleLong }} ({{ calendrier.formation.libelleCourt }})',
            'Lieu': {% if calendrier.formation.lieu %}{{ calendrier.formation.lieu.libelle }}{% else %}'-'{% endif %}};
        var calendrier = new Calendrier(jFormation, {{ formationModules|json_encode(constant('JSON_PRETTY_PRINT'))|raw }});
        var modulesManager = new ModulesManager(calendrier);

        $(document).ready(function () {
            initTitleInput('{{ calendrier.titre }}');
            refreshModules(calendrier.modules);
            $('#modules_search').click(function () {
                renderModal('gestion-modules',
                    '{{ path('modules_show', {'codeCalendrier' : calendrier.codeCalendrier}) }}',
                    true, undefined, modulesManager.onModaleOpen);
            });
        });

        function valider() {
            showLoader();
            closeModale();

            for (removedKey in modulesManager.removedModules) {
                if (calendrier.modules.hasOwnProperty(removedKey)
                    && (removedKey in calendrier.modules)) {
                    delete calendrier.modules[removedKey];
                }
            }

            for (addedKey in modulesManager.addedModules) {
                if (!calendrier.modules.hasOwnProperty(addedKey)) {
                    calendrier.modules[addedKey] = modulesManager.addedModules[addedKey];
                }
            }

            refreshModules(calendrier.modules);
            dismissLoader();
        }

        function closeModale() {
            $("div[data-target='gestion-modules']").modal('close');
        }
    </script>
{% endblock %}