{#
This file is part of Alterplan. 
 
Alterplan is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. 
 
Alterplan is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details. 
 
You should have received a copy of the GNU Affero General Public License along with Alterplan. If not, see <http://www.gnu.org/licenses/>.
#}


<div class="row">
    <h5 class="center">{{ titre }}</h5>
</div>

{{ form_start(form) }}
<div class="row valign-wrapper">
    {{ form_label(form.titre) }}
    {{ form_widget(form.titre) }}
</div>
<div class="row valign-wrapper">
    {{ form_label(form.formation) }}
    {{ form_widget(form.formation,{'attr': {'class':'col s11'}}) }}
</div>
<div class="row valign-wrapper">
    {{ form_label(form.dateDebut) }}
    {{ form_widget(form.dateDebut) }}
</div>
<div class="row valign-wrapper">
    {{ form_label(form.dateFin) }}
    {{ form_widget(form.dateFin) }}
</div>

{{ form_end(form) }}

<script type="text/javascript">

    function onSetDateDebut(event) {
        var from_$input = $('#appbundle_calendrier_dateDebut').pickadate(),
            from_picker = from_$input.pickadate('picker');

        var to_$input = $('#appbundle_calendrier_dateFin').pickadate(),
            to_picker = to_$input.pickadate('picker');
        if ( event.select ) {
            to_picker.set('min', from_picker.get('select'))
        }
        else if ( 'clear' in event ) {
            to_picker.set('min', false)
        }
    }

    function onSetDateFin(event) {
        var from_$input = $('#appbundle_calendrier_dateDebut').pickadate(),
            from_picker = from_$input.pickadate('picker');

        var to_$input = $('#appbundle_calendrier_dateFin').pickadate(),
            to_picker = to_$input.pickadate('picker');
        if ( event.select ) {
            from_picker.set('max', to_picker.get('select'))
        }
        else if ( 'clear' in event ) {
            from_picker.set('max', false)
        }
    }

    $(document).ready(function() {
        $('select').material_select();
        initDatePicker('#appbundle_calendrier_dateDebut', onSetDateDebut);
        initDatePicker('#appbundle_calendrier_dateFin', onSetDateFin);

        var from_$input = $('#appbundle_calendrier_dateDebut').pickadate(),
            from_picker = from_$input.pickadate('picker');

        var to_$input = $('#appbundle_calendrier_dateFin').pickadate(),
            to_picker = to_$input.pickadate('picker');

        if ( from_picker.get('value') ) {
            to_picker.set('min', from_picker.get('select'))
        }
        if ( to_picker.get('value') ) {
            from_picker.set('max', to_picker.get('select'))
        }
    });
</script>