{#
This file is part of Alterplan. 
 
Alterplan is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. 
 
Alterplan is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details. 
 
You should have received a copy of the GNU Affero General Public License along with Alterplan. If not, see <http://www.gnu.org/licenses/>.
#}

<div id="search_calendar_table" class="card-content bloc_calendrier" style="max-height: 19em;overflow-x: auto;">
    <div class="col s6">
            <h5 class="card-title">{{ titreTableau }} ({{ calendars|length }})</h5>
    </div>
    {% if (stagiaire is not defined) %}
        <div class="col s2 offset-s4">
            <a class='waves-green btn' href='#' id="btn_new_model">Créer</a>
        </div>
    {% endif %}
    <form method="post" action="" id="form_search_tab_calendar">
        <table class="centered highlight" id="table_calendars">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Formation</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                {% if(nameAction == 'calendrier_edit') %}
                <th>Suppression</th>
                {% endif %}
            </tr>
            </thead>
            <tbody class="calendrier_rows">
            {% if ( calendars != null ) %}
                {% for calendar in calendars %}
                    {% if (stagiaire is defined) %}
                    <tr class="clickable clickable-row-calendar" data-action="applyModel"
                        data-href="{{ path( nameAction, { 'codeCalendrier': calendar.codeCalendrier, 'codeStagiaire': stagiaire.codeStagiaire }) }}">
                    {% else %}
                        <tr class="clickable clickable-row-calendar" data-action="gestionModel" data-href="{{ path( nameAction, { 'codeCalendrier': calendar.codeCalendrier}) }}">
                    {% endif %}
                    <td>
                        {{ calendar.titre }}
                    </td>

                    <td>
                        {{ calendar.formation.libelleCourt }}
                    </td>

                    <td>
                        {{ calendar.dateDebut.format('d/m/Y') }}
                    </td>

                    <td>
                        {{ calendar.dateFin.format('d/m/Y') }}
                    </td>
                    {% if(nameAction == 'calendrier_edit') %}
                    <td>
                        <a href="#">
                            <i class="material-icons deleteIcon" data-href="{{ path('model_delete', {'codeCalendrier': calendar.codeCalendrier})}}">delete</i>
                        </a>
                    </td>
                    {% endif %}
                    </tr>

                {% endfor %}
            {% else %}
                <tr>
                    <td>
                        Aucun calendrier répond à cette recherche
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var nameAct = {{ nameAction|json_encode|raw }};
        if(nameAct === 'calendrier_edit') {
            $('.calendrier_rows td:not(:last-child)').click(function () {
                // On modifie la class de la ligne pour ajouter la class selected ou l'enlever d'une ligne
                $(this).closest('tr').addClass('selected').siblings().removeClass("selected");
                var url = $(this).closest('tr').data("href");
                var action = $(this).closest('tr').data("action");

                if (action === 'applyModel' || action === 'duplicate') {
                    $('#form_search_tab_calendar').attr('action', url);
                } else if (action === 'gestionModel') {
                    window.location = url;
                }
            });
        } else {
            $('.calendrier_rows tr').click(function () {
                // On modifie la class de la ligne pour ajouter la class selected ou l'enlever d'une ligne
                $(this).addClass('selected').siblings().removeClass("selected");
                var url = $(this).data("href");
                var action = $(this).data("action");

                if (action === 'applyModel' || action === 'duplicate') {
                    $('#form_search_tab_calendar').attr('action', url);
                } else if (action === 'gestionModel') {
                    window.location = url;
                }
            });
        }

        $('#btn_new_model').click(function () {
            var url = "{{ path('model_new') }}";
            renderModal('model', url, false);
        });

        $('.deleteIcon').click(function () {
            var url = $(this).data("href");
            deleteCalendar(url);
        });

        function deleteCalendar(urlAction) {
            showLoader();
            $.ajax({
                url: urlAction,
                type: 'DELETE',
                success: function (data) {
                    dismissLoader();
                    showToast('Le calendrier a bien été supprimé');
                    var calendarTableDiv = $('.bloc_calendrier');
                    calendarTableDiv.empty();
                    calendarTableDiv.html(data);
                },
                error: function () {
                    dismissLoader();
                    showToast('Erreur de la suppression', 'error');
                }
            });
        }
        //gestion des boutons hors form pour les navigateurs non-compatibles
        addFormFeature();
    })
</script>