{#
This file is part of Alterplan. 
 
Alterplan is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. 
 
Alterplan is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details. 
 
You should have received a copy of the GNU Affero General Public License along with Alterplan. If not, see <http://www.gnu.org/licenses/>.
#}
<div class="row">
    <div class="col s6">
        <h5>Liste des promotions ({{ promotions|length }}) </h5>
    </div>
    <div class="col s6 right-align" style="margin-top: 0.82rem">
        <button id="btn_save_promotions" class="waves-effect waves-light btn">Enregistrer</button>
    </div>
</div>

<table class="bordered highlight centered">
    <thead>
    <tr>
        <th class="col s2">Titre</th>
        <th class="col s2">Formation</th>
        <th class="col s3">Date début</th>
        <th class="col s3">Date fin</th>
        <th class="col s2" style="padding-right:25px">Active</th>
    </tr>
    </thead>
    <tbody>
    {% for promotion in promotions %}
        <tr>
            <td class="col s2" style="padding:15px 5px">{{ promotion.libelle }}</a></td>
            <td class="col s2" style="padding:15px 5px">{% if promotion.formation %}{{ promotion.formation.libelleCourt }}{% endif %}</td>
            <td class="col s3" style="padding:15px 5px">{% if promotion.debut %}{{ promotion.debut|date('d-m-Y') }}{% endif %}</td>
            <td class="col s3" style="padding:15px 5px">{% if promotion.fin %}{{ promotion.fin|date('d-m-Y') }}{% endif %}</td>
            <td class="col s2" style="padding:15px 5px">
                <input id="{{ promotion.codePromotion }}"
                       name="checkbox_{{ promotion.codePromotion }}"
                       value="{{ promotion.active }}" type="checkbox"
                {% if promotion.active %}checked{% endif %} onchange="activeChanged(event)">
                <label for="{{ promotion.codePromotion }}"></label>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% set jsonPromos = promotions|json_encode()|raw %}

<script type="text/javascript">

    //Objet capturant les changements sur les promotions
    var changes = {};

    //Réagit au check/uncheck des checkbox
    function activeChanged(event) {
        //Si la promotion n'est pas dans la liste des changements
        if (!(event.target.id in changes)){
            //On l'ajoute
            changes[event.target.id] = event.target.checked;
        }else {
            //Si non ça veut dire qu'on revient à la valeur d'origine donc on supprime de la liste des changements
            delete changes[event.target.id];
        }
    }

    //Quand on clique sur "Enregistrer"
    $('#btn_save_promotions').click(function () {
        showLoader();
        //On récupère les changements
        var donnees = {'changedPromotions' : changes};
        var url = "{{ path('promotions_save') }}";
        //On post les changements
        $.post(url, donnees).done(function (data) {
            showToast('Enregistrement effectué');
            //En cas de succès on mets à jour le tabeau
            var promotionsTableDiv = $('#promotion_table');
            promotionsTableDiv.empty();
            promotionsTableDiv.html(data);
        }).fail(function () {
            showToast('Erreur d\'enregistrement', 'error')
        }).always(function () {
            dismissLoader();
        })
    });
</script>