<h4>{{ titre }}</h4>
{{ form_start(form, {'attr': {'id': 'user_create', 'action': '/utilisateurs/new', 'name': 'user_create'}}) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.prenom) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    <div class="row">
        <label for="pwd_confirmation">Confirmation du mot de passe</label>
        <input id="pwd_confirmation" type="password"/>
    </div>
    {{ form_widget(form) }}
{{ form_end(form) }}