
<div class="row">
    <h5 class="center">{{ titre }}</h5>
</div>

{{ form_start(form) }}
    <div class="row valign-wrapper">
        {{ form_label(form.nom) }}
        {{ form_widget(form.nom) }}
    </div>
    <div class="row valign-wrapper">
        {{ form_label(form.prenom) }}
        {{ form_widget(form.prenom) }}
    </div>
    <div class="row valign-wrapper">
        {{ form_label(form.username) }}
        {{ form_widget(form.username) }}
    </div>
    <div class="row valign-wrapper">
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
    </div>
    <div class="row valign-wrapper">
        {{ form_label(form.plainPassword) }}
        {{ form_widget(form.plainPassword) }}
    </div>
    <div class="row valign-wrapper">
        {{ form_label(form.checkPassword) }}
        {{ form_widget(form.checkPassword) }}
    </div>
    {% if form.isAdministrateur is defined %}
        <div class="row center-align">
            {{ form_widget(form.isAdministrateur) }} {{ form_label(form.isAdministrateur) }}
        </div>
    {% endif %}
{{ form_end(form) }}

