<h4>{{ titre }}</h4>
{{ form_start(form) }}
    <div class="row valign-wrapper">
        {{ form_label(form.nom, 'Nom', {'label_attr':{'class':'col s2'}}) }}
        {{ form_widget(form.nom) }}
    </div>
    <div class="row valign-wrapper">
        {{ form_label(form.prenom, 'Prénom', {'label_attr':{'class':'col s2'}}) }}
        {{ form_widget(form.prenom) }}
    </div>
    <div class="row valign-wrapper">
        {{ form_label(form.username, 'Identifiant', {'label_attr':{'class':'col s2'}}) }}
        {{ form_widget(form.username) }}
    </div>
    <div class="row valign-wrapper">
        {{ form_label(form.email, 'Email', {'label_attr':{'class':'col s2'}}) }}
        {{ form_widget(form.email) }}
    </div>
    <div class="row valign-wrapper">
        {{ form_label(form.plainPassword, 'Mot de passe', {'label_attr':{'class':'col s2'}}) }}
        {{ form_widget(form.plainPassword) }}
    </div>
    <div class="row valign-wrapper">
        <label class="col s2" for="check_password">Confirmation mot de passe</label>
        <input type="password" id="check_password" required>
    </div>
    <div class="row valign-wrapper">
        {{ form_label(form.isAdministrateur, 'Administrateur', {'label_attr':{'class':'col s2'}}) }}
        {{ form_widget(form.isAdministrateur) }}
    </div>
{{ form_end(form) }}

